.scrollbox {
    /* height: 270px;
    width: 330px; */
    overflow-y: auto;
    height: 1px;
    /* min-height: 0; */
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 2px solid #4887d7;
  border-bottom: 0;
}

.app {
  height: inherit;
}

/* div.section {
  margin-left: 15px;
  margin-right: 15px;
} */